
/* Estilos Gerais */
* img{

border-radius: 50%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}
.texto{
    display: flex;
    align-self: center;
    gap: 3px;
}
.oxe{
    display: flex;
    justify-content: space-around;
}
/* Cabeçalho e Menu */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
.capa{
    width: 400px;
    height: auto
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Conteúdo Principal */
.main {
    padding: 20px;
}
.teste-flex img{
    width: 100px;
    height: 100px;
    
}
.teste-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 150px;
}

#h1-main{
   margin-left: 150px;
   margin-right: auto;
}
/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.coluna img{
    width: 50px;
    height:50px
}
/* Rodapé */
footer {
    
    display: flex;
    justify-content: space-around;
    background-color: green;
    color: white;
    padding: 1em;
    margin-top: 500px;
    
}

.coluna {
    flex: 1;
    text-align: center;
}
